/* Overrides Custom CSS */

.rapi-bundles__bar :checked+label .rapi-bundles__bar-radio {
  box-shadow: 0 0 0 2px var(--rapi-check-mark-color) !important;
}

/* Bracelet Announcement Bar CSS */

.bracelet-announcement-bar {
  width: 100%;
  padding: 1.3rem 0 .5rem;
}

.bracelet-announcement-bar.hidden {
  display: block !important;
}

/* Mobile */
@media (max-width: 767px) {
  .bracelet-announcement-bar.hidden {
    display: none !important;
  }
}

.bracelet-announcement-bar .page-width {
  padding: 0;
}

.bracelet-announcement-bar .bracelet__inner {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
}

.bracelet-announcement-bar .bracelet__logo {
  display: inline-block;
  filter: invert(1);
  /* margin-bottom: -1rem; */
}

.bracelet-announcement-bar .bracelet__views p {
  color: grey;
}

.bracelet-announcement-bar .bracelet__slogan {
  padding-left: 1rem;
  border-left: .1rem solid rgba(18, 18, 18, 0.208);
}

.bracelet-announcement-bar .bracelet__slogan p {
  font-weight: 600;
  margin: 0;
}

/* Header */

.utility-bar {
  border-bottom: unset !important;
  box-shadow: 0 -1rem 4rem #00000020;
}

/* Page width */

/* Mobile */
@media (max-width: 767px) {
  .utility-bar__grid.page-width {
    padding: 0 1.5rem !important;
  }
}

/* Footer Block */

/* Mobile */
@media (max-width: 767px) {
  .footer-block .footer-block__heading {
    text-align: center;
  }

  .footer-block .footer-block__details-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

/* Product Media */

/* Mobile */
@media (max-width: 767px) {
  .product__media-item {
    padding-top: 0 !important;
    margin: 0 !important;
    width: 100% !important;
  }
}